**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/*.md
**/TestResults
**/.editorconfig
**/.gitignore
**/.gitattributes
**/*.DotSettings
**/*.DotSettings.user
**/.idea
**/coverage
**/.coverage
**/*.coverage
**/.dockerignore
**/Dockerfile*
**/.env
**/.env.*
