**/.git
**/.github
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/*.md
**/TestResults
**/.editorconfig
**/.gitignore
**/.gitattributes
**/*.DotSettings
**/*.DotSettings.user
**/.idea
**/coverage
**/.coverage
**/*.coverage
**/.dockerignore
**/Containerfile*
**/.env
**/.env.*

# Exclude repo areas not required for service and gateway image builds.
deployment/
tests/
tools/
src/aspire/keycloak/
src/aspire/Teck.Cloud.AppHost/
