name: Release Catalog Service

on:
  push:
    branches:
      - main
      - next
      - alpha
      - beta
      - next-major
    paths:
      - 'src/services/catalog/**'
      - 'src/buildingblocks/**'
      - '.github/workflows/release-catalog.yaml'

permissions:
  contents: write
  issues: write
  pull-requests: write

jobs:
  release:
    name: Semantic Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v6.2.0
        with:
          node-version: 'lts/*'

      - name: Semantic Release
        uses: cycjimmy/semantic-release-action@v6.0.0
        with:
          working_directory: ./src/services/catalog
          extra_plugins: |
            conventional-changelog-conventionalcommits@9.1.0
            @semantic-release/commit-analyzer
            @semantic-release/github
            @semantic-release/release-notes-generator
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
